header {
    width: 100%;
    line-height: 2em;
    background-color: #fff;
}
.clickBox {
    width: 80%;
    background-color: blue;
    color: #fff;
}
.allItem {
    list-style: none;
    
}
